html, body {
  overscroll-behavior-y: none; /* Evita aquele efeito de "puxar" branco no topo/fim */
  background-color: #050505;
}

/* Esconde a barra de scroll feia do Windows, mas mantém a função */
::-webkit-scrollbar {
  display: none;
}